<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit accusantium consectetur, ex minus culpa aspernatur soluta, deserunt vitae aperiam repellat impedit porro officiis harum animi recusandae nesciunt sunt modi corporis similique! Hic quia totam eligendi molestiae quam tempore suscipit accusamus excepturi soluta obcaecati, quo eius illum corrupti nisi ex error assumenda doloremque consequuntur praesentium, animi reiciendis explicabo? Consectetur tempore excepturi corrupti culpa soluta voluptatem, quaerat fugit assumenda nemo alias, dolore in quam molestias velit? Cupiditate voluptate aperiam nam doloribus fugit pariatur reprehenderit officia assumenda numquam quidem? Aspernatur odit eos officia minus! Totam adipisci consequuntur ducimus a nam accusamus dicta provident!</p>
    </div>
</div>