<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio beatae dolore reprehenderit delectus nihil quis amet minus rem eum excepturi.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, odio nostrum repellendus minima molestiae facilis, aspernatur impedit deleniti ipsam tempore optio voluptates veritatis laborum, reprehenderit soluta. Possimus harum aut nobis vitae omnis, quod beatae aspernatur deserunt, obcaecati optio neque non impedit expedita minima necessitatibus officia iure sed repellendus fuga! Non!</p>
    <a href="https://www.google.com" class="btn btn-primary btn-lg">Go to google</a>
</div>