body {
    background: #2196F3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1E88E5, #2196F3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1E88E5, #2196F3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.logo {
    width: 12em;
    height: 11em;

}