<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Notes App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="/notes" class="dropdown-item">Notes</a>
                            <a href="/notes/add" class="dropdown-item">Add</a>
                            <div class="dropdown-divider"></div>
                            <a href="/users/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </li>
                {{else}}
                    <a class="nav-link" href="/users/signin">SignIn</a>
                    <a class="nav-link" href="/users/signup">SignUp</a>
                {{/if}}
                
            </ul>
        </div>
    </div>
</nav>