{{#if notes}}
    <h2>You have {{count}} notes</h2>
{{/if}}
<h1>Hello {{user.name}}</h1>
<div class="row">
    {{#each notes}}
        <div class="col-md-3" style="margin-bottom: 1em;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{this.title}}
                        <a href="/notes/edit/{{this.id}}"><i class="fa fa-edit"></i></a>
                    </h4>
                    <p>{{this.description}}</p>
                    <form action="/notes/delete/{{this.id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-sm btn-block" type="submit">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">You don't have any note yet</p>
            <a href="/notes/add" class="btn btn-success btn-block">Create one</a>
        </div>
    </div>
    {{/each}}
</div>