<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h3>Edit note</h3>
                <form action="/notes/edit-note/{{id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <input class="form-control" name="title" type="text" placeholder="Title" value="{{title}}">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="description" placeholder="Description">{{description}}</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>