<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">New Note</div>
        <div class="card-body">
            {{>errors}}
            <form action="/notes/new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" id="" class="form-control" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>