<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4">
            <div class="card-header mx-auto">
                <h3>Log In</h3>
                <img class="rounded-circle d-block m-4 logo" src="https://cdn3.f-cdn.com/contestentries/1269942/15600440/5a991c82be987_thumb900.jpg" alt="logo">
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>